.admin-principal-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: auto;
    font-family: "Saira", sans-serif;
    
}
.lateral-adminpage{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #161616;
}
.lateral-adminpage a{
    color: white;
    text-decoration: none;
    margin-left: 20px;

}
.adminpage-fotologo{
    display: flex;
    align-content: center;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
}
.adminpage-fotologo img{
    max-width: 70px;
    align-content: center;
}
.adminpage-fotologo p{
    align-content: center;
    font-size: 2em;
    margin: 0;
    color: white;
}
.container-adminpanel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 5;
}
table.adminpanel-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
table.adminpanel-table, th, td {
    border: 1px solid #ddd;
}
#tablaPedidos-adminpanel{
    border: solid 2px green;
    width: 80%;
    margin: 20px auto;
    
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
td {
    background-color: #f9f9f9;
}
button.adminpanel-btn-delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
button.adminpanel-btn-edit {
    background-color: #EDE81A;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
button.adminpanel-btn-delete:hover {
    background-color: #e53935;
}
.message-adminpanel {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e7f7e7;
    color: #4CAF50;
    display: none;
}
.container-adminpanel h1{
    text-align: center;
    padding-top: 20px;
}
.boton-tres-pedidos{
    padding: 10px;
    text-align: center;
    color: white;
    justify-content: center;
    background-color: blue;
    border-radius: 5px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Saira", sans-serif;
}
#addUserFormAdmin{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

#addUserFormAdmin input{
    max-width: 500px;
    width: 100%;
    padding: 5px;
}
#addUserFormAdmin button{
    margin-top: 20px;
    background-color: #0000FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.boton-new-user{
    padding: 10px;
    text-align: center;
    color: black;
    justify-content: center;
    background-color: #EDE81A;
    border-radius: 5px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: none;
    font-family: "Saira", sans-serif;
}