.carrito-container {
    max-width: 70%;
    margin: 0 auto !important;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #161517;
    color: white;
    border: 2px solid blue;
    font-family: "Saira", sans-serif;

}

.carrito-grid {
    flex: 2;
    border: 2px solid green;
}

.carrito-item {
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.carrito-img {
    width: 80%;
    height: auto;
}
.carrito-imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.carrito-info {
    padding: 15px;
    flex-grow: 1;
    border: 2px solid purple;
    text-align: left;
    font-family: "Saira", sans-serif;
    max-width: 400px;
    

}
.carrito-info-img{
    display: flex;
}

.carrito-nombre {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    color: #EDE81A;
    margin-top: 10px;
}

.carrito-ingredientes, 
.carrito-precio, 
.carrito-cantidad, 
.carrito-subtotal {
    font-size: 1rem;
    margin-bottom: 5px;
}

.carrito-acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carrito-resumen {
    flex: 1;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    border: 2px solid red;
    

}

.carrito-total, 
.carrito-total-final {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-envio, 
.carrito-iva {
    font-size: 1rem;
    margin-bottom: 5px;
}

.carrito-envio-gratis {
    color: #00ff00;
    font-weight: bold;
}

.carrito-pagar {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.carrito-pagar:hover {
    background-color: #0056b3;
}
.carrito-titulo{
    background-color: #161517;
    color: white;
    margin: 0 !important;
    padding-top: 10px !important;
}

.carrito-subtotal{
    font-size: 1.7rem;
    margin-top: 20px;
}
.carrito-ingredientes{
    height: 60px !important;
    border: red 2px solid;
    margin-top: 20px !important;
}
.carrito-cantidad{
    margin-top: 10px;
}
