.carrito-container {
    max-width: 100%;
    margin: 0 auto !important;
    background-color: #161517;
    display: flex;
    flex-direction: column;
}

.carrito-titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    padding-top: 10px;
    color: white;
}
.carrito-tbody{
    background-color: #161517 !important;
}
.carrito-alerta {
    font-size: 1.2rem;
    background-color: #ffdd57;
    border-radius: 5px;
    padding: 15px;
}

.carrito-tabla {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #161517 !important;
    

    
}

.carrito-thead {
    background-color: #161517 !important;
    color: white;
}

.carrito-th {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.carrito-td {
    padding: 10px;
    text-align: center;
    color: #ffdd57 !important;
}
.carrito-td-nombre {
    font-size: 18px;
    font-weight: bold;
    color: #ffdd57 !important;
    text-align: center;
}



.carrito-img {
    border-radius: 5px;
}

.carrito-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.carrito-btn:hover {
    background-color: #0056b3;
}

.carrito-total {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}
.carrito-form{
    display: flex;
    flex-direction: column;
}
#abrir-carrito {
    position: relative;
}

.cantidad-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

