.homeBC{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.contenido-home {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.contenido-home h1, h2{
    color: white;
    font-family: "Saira", sans-serif;
    text-align: center;
}
.contenido-home h1{
    font-size: 80px;
    font-weight: bold;
}
.contenido-home h2{
    font-size: 65px;
    
}
.contenido-home button{
    width: 250px;
    height: 60px;
    background-color: #EDE81A;
    border: none;
    color: black;
    font-size: 25px;
    font-family: "Saira", sans-serif;
    font-weight: bold;
    margin-top: 50px;
}
.seccion3 {
    background-color: #161517;
}

.imagenes-seccion1 {
    display: flex;
    flex-direction: column;
}

.imagenes-seccion2 {
    display: flex;
    flex-direction: row;
}

.imagenes-seccion {
    display: flex;
}

.imagen-con-texto {
    position: relative;
    display: inline-block;
}

.imagen-con-texto img {
    display: block;
    height: auto;
}

.texto-imagen {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede81a; 
    font-size: 42px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px; 
}
.texto-imagen2 {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px; 
}
.img-h-gaming{
    width: 500px;
}
.titulo-seccion3 h2{
    color: white;
    text-align: center;
    font-family: "Saira", sans-serif;
    font-size: 40px;
    font-weight: bold;

}

