.homeBC{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    
}
hr{
    border: 1px solid #EDE81A;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.contenido-home {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.contenido-home h1, h2{
    color: white;
    font-family: "Saira", sans-serif;
    text-align: center;
}
.contenido-home h1{
    font-size: 80px;
    font-weight: bold;
}
.contenido-home h2{
    font-size: 65px;
    
}
.contenido-home button{
    width: 250px;
    height: 60px;
    background-color: #EDE81A;
    border: none;
    color: black;
    font-size: 25px;
    font-family: "Saira", sans-serif;
    font-weight: bold;
    margin-top: 50px;
}
.fondo-home{
    background-color: #161517;
}
.seccion2{
    color: white;
    font-family: "Saira", sans-serif;
    padding-top: 100px;
    margin-bottom: 100px;
    
}
.titulo-about{
    font-size: 40px;
    font-weight: bold;
}
.p-about{
    font-size: 20px;
    margin-bottom: 50px;
}
.imagenes-seccion1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.imagenes-seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%; 
    margin: 0 auto; 
}


.imagenes-seccion {
    display: flex;
    align-items: stretch;
    justify-content: center;
   
    
}

.imagen-con-texto {
    position: relative;
    display: inline-block;
    
    
    
    
}

.imagen-con-texto img { 
    display: block;
    height: auto;

    
    
}
.texto-imagen {
    position: absolute;
    top: 70px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede81a; 
    font-size: 42px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px; 
}
.texto-imagen-l {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede81a; 
    font-size: 42px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px; 
    margin-top: 30px;
}
.texto-imagen2 {
    position: absolute;
    top: 120px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    text-decoration: none !important;
    cursor: pointer;
}
.texto-imagen2-cuadrado {
    position: absolute;
    top: 120px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    text-align: center;
    padding: 5px 10px; 
    transition: transform 0.3s ease, font-size 0.3s ease;
    text-decoration: none !important;
    cursor: pointer;
    
}
.texto-imagen2:hover, .texto-imagen2-cuadrado:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.titulo-seccion3 h2{
    color: white;
    text-align: center;
    font-family: "Saira", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 70px;

}
.imagenes-horizontales{
    display: flex;
    flex-direction: column;
}
.img-larga1{
   
    padding-right: 20px;
    padding-top: 20px;
}
.img-larga2{
    margin-right: 20px;
}
@media (max-width: 980px) {
    .titulo-seccion3 h2 {
        font-size: 28px;
    }

    .imagenes-seccion {
        flex-direction: column;
        align-items: center;
    }

    .imagenes-seccion1 {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .imagenes-horizontales {
        width: 100%;
    }

    .imagenes-seccion2 {
        width: 100%;
        margin: 0;
    }

    .imagen-con-texto {
        width: 100%;
        margin-bottom: 20px;
    }

    .texto-imagen {
        font-size: 24px;
    }
    .texto-imagen-l {
        font-size: 34px;
        margin-top: 0px;
    }

    .texto-imagen2 {
        font-size: 20px;
    }

    .img-larga1, .img-corta1 {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    /*Aqui estoy utilizando estas clases para que en moviles no se vea todo el vertical de la pantalla para que la experiencia sea mas cómoda*/
    .homeBC{
        height: 80vh;
    }
    #background-video {
        height: 80vh; 
    }
    .contenido-home{
        height: 80vh;
    }
    .contenido-home h1{
        font-size: 50px;
        font-weight: bold;
    }
    .contenido-home h2{
        font-size: 30px;
        
    }
    .texto-imagen2-cuadrado{
        top: 120px;
    }
    .texto-imagen2{
        top: 80px;
    }
    
}
@media (max-width: 500px){
    .texto-imagen-l {
        font-size: 24px;
        margin-top: 0px;
    }

    .texto-imagen2 {
        font-size: 16px;
    }
    .titulo-seccion3 h2{
        margin-bottom: 30px;
    }
    .ultimo-p-home{
        padding-bottom: 20px;
    }
}
.seccion4{
    font-family: "Saira", sans-serif;
}
.seccion4-4 p{
    margin: 0px !important;
    
}
.seccion4 p{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.tiutlo-seccion4{
    font-weight: bold;
}


